.fix-width {
  width: inherit !important;
}

@media only screen and (min-width: 576px) {
/* DESKTOP */
}

@media only screen and (max-width: 576px) {
/* MOBILE */
  
  body {
    background-color: white;
  }
}
.single-footer-widget footer_1{
	margin-left: 65px;
}

.card-body .card-body-text h4 {
    float: right;
    color: #d24150;
    font-weight: 600;
}
.blog_part .single-home-blog .card h5 span:hover {
  -webkit-transition: 0.8s;
  transition: 0.8s;
  color: #d24150;
}
