.fix-width {
  width: inherit !important;
}

@media only screen and (min-width: 576px) {
/* DESKTOP */
}

@media only screen and (max-width: 576px) {
/* MOBILE */
  
  body {
    background-color: white;
  }
}
.single-footer-widget footer_1{
	margin-left: 0px;
}

.single-footer-maif{
    margin-left: 0;
    
}

.card-body .card-body-text h4 {
    float: right;
    color: #d24150;
    font-weight: 600;
}
/* j'arrive pas à mettre le hover sur span&h5 en même temps bordel*/
.blog_part .single-home-blog .card .card-body-text h5 span:hover {
  -webkit-transition: 0.8s;
  transition: 0.8s;
  color: #d24150;
}/*Oh ptn j'ai réussi*/

.name-title {
    font-style: italic;
}

/* boutton Partie Communauté - changement de texte Hover*/

.btn_4:hover span {
  background: #e97254;
  color: #fff;
    display: none;
}

.btn_4:hover:before {
    content: "Visiter le garage";
    color: white;
}

.btn_4:hover {
    color: white;
}

.btn_5:hover{
    background: #e97254;
    color: #fff;
}
